.container{
    background-color: lightblue;
    }

.article-image{
    float: left;
    height: 130px;
    padding: 7px;    

}

.article-body{
    text-align: justify;
}

body{
    padding-inline: 92px;
}


h1{
    color: yellow;
    text-align: center;
}

.menu{
    display: flex;
    text-align: center;
}

.menu div{
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width:30%
  
}
.menu div a,
.menu div a:visited{
    color: blueviolet;
    text-decoration: none;
}
.menu div a:hover{
    color: red;
}
.menu .middle{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    background-size: cover;
    color: springgreen;
}

.contact{
    border: 20px;
}

.box-model{
    background-color: lightgrey;
    width: 900px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.site-footer{
    text-align: right;
}